body {
    background-image: url("images/wood-background.jpg");
}

.main {
    background-color: brown;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
    border-radius: 20px;
    border: 5px solid white;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.title {
    color: antiquewhite;
    font-family: "Sofia", cursive;
    font-size: 100px;
    margin: 0 auto;
    text-align: center;
}

#Silvano {
    font-size: 150px;
    border-bottom: 2px solid white;
}

.text1 {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 50px;
    border-bottom: 2px solid white;
}

.vigneto {
    display: inline-block;
}

#vigneto-img {
    width: 500px;
    border-radius: 20px;
}

#vigneto-txt {
    color: white;
    text-align: justify;
    width: 400px;
    margin-left: 80px;
}

.text2 {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 50px;
    border-bottom: 2px solid white;
}

.botti {
    display: inline-block;
}

#botti-img {
    width: 500px;
    border-radius: 20px;
}

#botti-txt {
    color: white;
    text-align: justify;
    width: 400px;
    margin-right: 80px;
}